#chart {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
}

#button-box {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.line {
  fill: none;
  stroke: darkorange;
  stroke-width: 1;
}

.btn {
  border: 1px solid deepskyblue;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  margin: 0 1rem;
}
